<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
	<!-- layui -->
	<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" media="all" th:href="@{/layui/css/layui.css}" />
	<script type="text/javascript" src="../static/layui/layui.js"  th:src="@{/layui/layui.js}"></script>
	<!-- js -->
	<script type="text/javascript" src="../static/js/order.js"  th:src="@{/js/order.js}"></script>
</head>
<body>
 
<table class="layui-hide" id="test" lay-filter="test"></table>

	<!-- 添加用户弹出层 -->
	<div id="user-layer"  style="display: none;" padding: 20px">
		<form id="form" class="layui-form layui-form-pane" lay-filter="form">
		
			<input type="hidden" name="orderId" class="layui-input"/>
			
			<div class="layui-form-item">
				<label class="layui-form-label">寄件地址</label>
				<div class="layui-input-block">
					<input type="text" name="sendSite" class="layui-input" placeholder="xx省xx市xx县xx镇，具体到xxx号" lay-verify="required" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">收件地址</label>
				<div class="layui-input-block">
					<input type="text" name="receSite" class="layui-input"  placeholder="xx省xx市xx县xx镇，具体到xxx号" lay-verify="required" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">寄件人</label>
				<div class="layui-input-block">
					<input type="text" name="sendName" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">寄件单位</label>
				<div class="layui-input-block">
					<input type="text" name="sendUnit" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">寄件人电话</label>
				<div class="layui-input-block">
					<input type="text" name="sendPhone" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">寄件时间</label>
			    <div class="layui-input-block">
			        <input type="text" name="sendDate" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">收件人</label>
				<div class="layui-input-block">
					<input type="text" name="receName" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">收件单位</label>
				<div class="layui-input-block">
					<input type="text" name="receUnit" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">收件人电话</label>
				<div class="layui-input-block">
					<input type="text" name="recePhone" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">总计费用</label>
				<div class="layui-input-block">
					<input type="text" name="totalFee" class="layui-input" lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入内容" class="layui-textarea" name="remark"></textarea>
				</div>
			</div>
			 <div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit="lay-submit" lay-filter="save_form">立即提交</button>
			      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			    </div>
			 </div>
		</form>
	</div>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-body">
			<div class="layui-form-item">
				  <div class="layui-inline">
				    <label class="layui-form-label">请选择日期:</label>
				    <div class="layui-input-inline" style="width: 100px;">
				      <input type="text" id="beginDate" placeholder="开始日期" autocomplete="off" class="layui-input">
				    </div>
				  </div>
				  <div class="layui-inline">
				      <button type="button" class="layui-btn" id="search_btn">搜索</button>
				  </div>
			</div>
		</div>
	</div>


<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm layui-anim" lay-event="add" data-anim="layui-anim-scale">新增数据</button>
  </div>
</script>

	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
</body>
</html>
